label {
    cursor: default;
}
.clear {
    clear: both;
}
.header {
    padding: 20px 0 0 0;
}
.header .nav-holder {
    padding: 20px 0 0 0;
}
.list tr td img {
    max-width: 50px;
    max-height: 30px;
}
.list tr .options {
    width: 150px;
}
.list tr .options hr {
    margin: 5px 0 5px 0;
}
.list tr .options .delete {
    color: #B0B0B0;
}
.list-headers {
    font-weight: bold;
    text-transform: uppercase;
}

/************************************************* Former customizations */
.former-element {
    border-bottom: dotted 1px #CECECE;
    padding: 10px 0 10px 0;
}
.former-element label {
    display: block;
    width: 180px;
    float: left;
}
.former-element .form-element-controls {
    display: block;
    width: 300px;
    float: left;
}
.former-element .error {
    padding: 5px 5px 5px 180px;
    border-radius: 4px;
    background: #FFBABA;
    margin: 10px 0 10px 0;
}
.former-element textarea {
    height: 300px;
}